<div style="display: flex; justify-content: center;align-items: center; width:100% ; height:100vh ;flex-direction: column;">
    <h1>LOG-OUT</h1>
    <br>
    <br>
    <h2>Hasta luego {{user.email}} </h2>

</div>


<script src="js/logOut.js"></script>