<div style="width: 100%;display: flex; flex-direction: column; align-items: center; height: 100vh;margin-top:20rem">

    <h1>SIGN-UP</h1>
    <br>

    <form id="registerForm" style="display: flex;flex-direction:column;">
        <label>Nombre</label>
        <input name="name" id="name">
        <label>Email</label>
        <input name="email" id="email">
        <label>Password</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit">
    </form>
    <a style="color:black; font-weight: 900;" href="/logIn"> log-in</a>
</div>
<script src="/js/register.js"></script>