<div style="min-height: 50vh;" class="container-fluid bg-secondary h-auto mt-5 d-flex flex-column  align-items-center">

    <h1>Chat </h1>

    <div id="chatBox"
        style=" overflow: scroll;display: flex;flex-direction: column; height:50vh ;background-color:black;width:40%;diplay:flex">
    </div>
    <input style="width:40%;cursor: pointer;" type="text" id="message" name="message" />

    <span style="padding: 1rem;"></span>
</div>




<script src="js/chat.js"></script>